{% load static %}

<header class="navbar navbar-expand-xl navbar-light" style="height:80px;">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href=""{% url 'home1' %}">
            <img src="{% static 'assets/img/Tutorlyhub_logo_4.png' %}" class="navbar-brand-img" alt="..." >
        </a>

        <!-- Navigation -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link px-xl-4" style="color: #437FD7" href="{% url 'loginform' %}">
                        <span>LOGIN</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-xl-4" style="color: #437FD7" href="{% url 'register1' %}">
                        <span> BECOME A TUTOR</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</header>
