<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
</head>
<style>


</style>
<body>
 <div class="container mt-5 mb-5">
  <h2 class="text-center">Privacy Policy</h2>
  <p class="text-center">At TutorlyHub, we are dedicated to safeguarding and preserving your privacy when visiting our site or communicating electronically with us.</p>
 </div>
<div class="container">
  <p>This Privacy Policy, together with our terms of use, explains what happens to any personal data that you provide to us, or that we collect from you when you are on this site. We do update this Policy from time to time so please do return and review this Policy regularly. Continuing in the use of our services, you – the customer and visitor or this website – expressly agree to have carefully read, understood and accepted this legal document that regulate any privacy right and data protection of your sensible and sensitive data under the purposes of the Data Protection Act and EU 2016/679, alias General Data Protection Act (collectively as “the Acts”). Under the purposes of the Acts, Gaeave Company LLC is the Data Controller.</p>
  <h5>Information We Collect</h5>
  <p>In operating our website we may collect and process the following data about you:</p>
    <p>1.Details of your visits to our website and the resources that you access, including, but not limited to, traffic data, location data, weblogs and other communication data. <br>
    2.Information that you provide by filling in forms on our website, such as when you registered for information or make a purchase. <br>
    3.Information provided to us when you communicate with us for any reason.</p>
  <h5>Use of Cookies</h5>
  <p>This site uses cookies and small text files that are placed on your machine to help the site provide a better user experience.</p>
<p>In general, cookies are used to retain user preferences, store information for things like shopping carts, and provide anonymised tracking data to third party applications like Google Analytics.</p>
  <p>  As a rule, cookies will make your browsing experience better. However, you may prefer to disable cookies on this site and on others. The most effective way to do this is to disable cookies in your browser. We suggest consulting the Help section of your browser which should offer guidance.</p>
   <p> Similarly to the above, we may gather information about your general internet use by using a cookie file. Where used, these cookies are downloaded to your computer automatically. This cookie file is stored on the hard drive of your computer as cookies contain information that is transferred to your computerís hard drive. They help us to improve our website and the service that we provide to you.
    All computers have the ability to decline cookies. This can be done by activating the setting on your browser which enables you to decline the cookies. Please note that should you choose to decline cookies, you may be unable to access particular parts of our website.
    Our advertisers may also use cookies, over which we have no control. Such cookies (if used) would be downloaded once you click on advertisements on our website.</p>
  <h5>Use of Your Information</h5>
  <p>The information that we collect and store relating to you is primarily used to enable us to provide our services to you. In addition, we may use the information for the following purposes:</p>
<p>1.To provide you with information requested from us, relating to our products or services. To provide information on other products which we feel may be of interest to you, where you have consented to receive such information. <br>
    2.To meet our contractual commitments to you. <br>
    3.To notify you about any changes to our website, such as improvements or service/product changes, that may affect our service.</p>
    <p>Further, we may use your data, or permit selected†third parties to use your data, so that you can be provided with information about unrelated goods and services which we consider may be of interest to you. We or they may contact you about these goods and services by any of the methods that you consented at the time your information was collected.</p>
  <h5>Storing Your Personal Data</h5>
  <p>We will take all reasonable steps to make sure that your data is treated securely and in agreement with this Privacy Policy.</p>

   <p> Data that is provided to us is stored on our secure servers. Details relating to any transactions entered into on our site will be encrypted to ensure its safety.</p>

    <p>The transmission of information via the internet is not completely secure and therefore we cannot guarantee the security of data sent to us electronically and transmission of such data is therefore entirely at your own risk. Where we have given you (or where you have chosen) a password so that you can access certain parts of our site, you are responsible for keeping this password confidential</p>
  <h5>Disclosing Your Information</h5>
  <p>Where applicable, we may disclose your personal information to any member of our group. This includes, where applicable, our subsidiaries, our holding company and its other subsidiaries (if any):</p>
  <p>1.Where we sell any or all of our business and/or our assets to a third party. <br>
    2.Where we are legally required to disclose your information. <br>
    3.To assist fraud protection and minimise credit risk.
    </p>
  <h5>Third Party Links</h5>
  <p>You mind find links to third party websites on our website. These websites should have their own privacy policies which you should check. We do not accept any responsibility or liability for their policies whatsoever as we have no control over them.</p>
</div>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"  crossorigin="anonymous" ></script>
</body>
</html>