<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
</head>
<style>


</style>
<body>
 <div class="container mt-5 mb-5">
  <h3 class="text-center">Terms and Conditions</h3>
  <p class="text-center">Introduction to the users of the services provided through <a href=""> tutorlyhub.com</a></p>
 </div>
<div class="container">
  <p>Welcome to <a href=""> tutorlyhub.com</a> If you continue to browse and use this website or if you contact us, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern <a href=""> tutorlyhub.com</a> relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use this website and do not respond to our messages if you have already previously contacted us. Using our services, you automatically and expressly demonstrate to have carefully read, understood and accepted this legal agreement and additionally our Privacy Policy with the last General Data Protection Regulation EU 2016/679 compliance implementation.</p>
  <p>TutorlyHub connects students with language tutors for in-person private lessons. <a href=""> tutorlyhub.com</a> aims to benefit both students and tutors. As of 2024, <a href=""> tutorlyhub.com</a> is operating in Singapore, in Hong Kong, in Australia, in Europe, in Africa, in the Philippines, in Japan, in Thailand, in Malaysia, in Indonesia, in Qatar, in Saudi Arabi and in the United Arab Emirates. We are continuously expanding to other regions across several continents. We are currently looking for additional language tutors in Kuala Lumpur, Macau, Tokyo, Shanghai, Seoul, Osaka, Kyoto, Bandung, Jakarta, Hong Kong, Singapore, Brisbane, Dubai, Abu Dhabi, Sharjah, Johannesburg, Pretoria, Durban, Cape Town, Wellington, Christchurch, Darwin, Perth, Adelaide, Melbourne, Sydney, Nairobi, Paris, Luxembourg, Monaco, Rome, Milan, London, Amsterdam...</p>
  <h5>Third Party</h5>
  <p>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</p>
  <h5>Using TutorlyHub</h5>
  <p>We are not responsible for any financial losses or any other damages caused to users of the website or related to the introductions to new students or tutors that are made by the TutorlyHub Team. When using <a href=""> tutorlyhub.com</a> and while communicating with the users we are introducing you to you agree to and understand that you will not:</p>
   <li>Break or violate any laws;</li>
   <li>Communicate anything that breaks our rules;</li>
    <li>Post anything threatening, demeaning, defamatory or indecent material;</li>
    <li>Infringe any third party right;</li>
    <li>Distribute viruses or harm anything of our interest;</li>
    <li>Perform any illegal activity that breaks the law or breaks our rules as well as our mission to connect people locally.</li>
  <h5 class="mt-3">Content</h5>
  <p>You are completely responsible for the material and content you submit throughout your conversations with the users. We are not to be held liable for any content posted nor are we to be held responsible. We reserve the right to modify, edit or delete any classified ad for any reason or no reason whatsoever. We reserve the right to exclude you from our users database as well, if we think you are causing disturbance or using our services inappropriately.</p>
  <h5>Personal information</h5>
  <p>By using our services you agree that we can collect, transfer, communicate to third parties, and store your personal information on our servers. You agree that we use your image and information to advertise TutorlyHub services worldwide without any limit of time. Additionally, please carefully read our Privacy Policy to deepen the data treatment of the website.</p>
  <h5>General</h5>
  <p>Unauthorised use of this website and the brand <a href=""> tutorlyhub.com</a> may give rise to a claim for damages and/or be a criminal offence.
 This website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
    Your use of this website and any dispute arising out of such use of the website is subject to the laws of each governing country.</p>
</div>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"  crossorigin="anonymous" ></script>
</body>
</html>